[Unit]
Description=Cassandra database server for high-scale application
Documentation=http://docs.datastax.com
After=syslog.target network.target

[Service]
Type=forking
User=cassandra
EnvironmentFile=-/etc/sysconfig/cassandra
ExecStart=/usr/bin/cassandra $OPTIONS

[Manager]
DefaultTimeoutStartSec=120
DefaultTimeoutStopSec=9000

[Install]
WantedBy=multi-user.target
